/*body, html{
    background-color: burlywood;
}*/

/* label color */
.input-field label {
    color: #01579b;
  }

.input-field input[type=search] {
border-bottom: 1px solid #01579b;
box-shadow: 0 1px 0 0 #01579b;
color: white;
}

/* label underline focus color */
.input-field input[type=search]:focus:not(.browser-default) {
/* border: solid black 1px; */
color: #00b0ff;
background-color: rgba(0.5,0.5,0.5,0.5);
border-radius: 90px;
border: solid black 0.5px;

}

/* Couleur du placeholder quand click */
.input-field input[type=search]:focus:not(.browser-default)::placeholder
{
    color: #01579b;
}

/* Couleur du placeholder quand pas click */
.input-field input[type=search]:not(.browser-default)::placeholder
{
    color: black;
}

.input-field input[type=search]:not(.browser-default) {
/* border: solid black 1px; */
background-color: transparent;
border-radius: 90px;
border: solid black 0.5px;
}
/* valid color */
.input-field input[type=search].valid {
border-bottom: 1px solid #000;
box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=search].invalid {
border-bottom: 1px solid #000;
box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .label-icon {
color: #01579b;
}

/* icon prefix focus color */
.input-field .material-icons.prefix {
    color: red;
}

.pill {
    border-radius: 90px;
    border: solid black 0.5px;
}

/* Icone search quand cliqué */
.input-field input[type="search"]:focus:not(.browser-default) + label i
{
    color: #01579b;
}

/* Icone search quand pas cliqué cliqué */
.input-field input[type="search"]:not(.browser-default) + label i
{
    color: black;
}

/* Couleur du placeholder quand click */
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons
{
    color: #01579b;
}

/* Couleur du placeholder quand click */
.input-field input[type=search]:not(.browser-default) ~ .material-icons
{
    color: black;
}

